body {
    line-height: 1.4;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,
    Verdana,sans-serif;
    margin: 0px 0px 10px 0px;
}

pre {
    overflow: scroll;
    padding: 20px;
    background: #eee;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), #945e1f, rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), #945e1f, rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), #945e1f, rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), #945e1f, rgba(0,0,0,0));
}

hr.post-separator:first-child {
    display: none;
}


#blog-title {
    font-size: 48px;
    text-align: center;
    padding: 30px 0px;
    background: black;
    margin-bottom: 15px;
}

#blog-title a {
    color: white;
}


#content {
    max-width: 1080px;
    margin: 0px auto;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: flex;
    flex-flow: row wrap;
}

#sidebar {
    -webkit-flex: 0 200px;
    flex: 0 200px;

    width: 200px;
}

#main {
    -webkit-flex: 1 0px;
    flex: 1 0px;
}

/* Sidebar stuff. */
#sidebar {
    text-align: right;
    border-right: 1px #945e1f solid;
    height: 100%;
    padding: 10px 30px 10px 0px;
    margin-right: 10px;
}

nav#page-bar {
    padding: 10px 0px;
}


nav#page-bar ul {
    margin: 0px;
    padding: 0px;
}

nav#page-bar ul li {
    display: block;
    margin: 10px 0px;
    font-size: 20px;
}


/* Main body. */
#main {
    font-size: 16px;
}


article {
    padding: 0px 20px;
    margin: 20px 0px 10px 0px;
}

article .title {
    font-size: 40px;
}

article p {
    margin: 0.7em 0;
}

a, a.title:hover, a.title:visited:hover {
    color: #7aa6da;
    font-weight: bold;
    text-decoration: none;
}

a.title, a.title:visited {
    color: black;
}

a:hover {
    text-shadow: 0 0 1px #bbb;
}

a:visited {
    color: #1f5594;
}


/* Post metadata display */

.metadata {
    font-size: 80%;
    padding: 5px 0px 5px 10px;
}

.metadata .tags {
    padding-left: 20px;
}


nav#pagination {
    font-size: 20px;

    display: -webkit-flex;
    -webkit-flex-flow: row wrap;

    display: flex;
    flex-flow: row wrap;
}

nav#pagination a {
    display: block;
    text-align: center;
    margin: 10px auto;
}


/* Display for narrow screens (i.e. mobile phones) */
@media all and (max-width: 600px) {
    #blog-title {
        margin-bottom: 0px;
    }
    #sidebar {
        margin-top: 0px;
        text-align: center;
        padding-right: 0px;
        margin-right: 0px;
        width: 100%;
        height: inherit;
    }
    #sidebar, #main { -webkit-flex: 1 auto; flex: 1 auto; }
    #content {
        -webkit-flex-direction: column;
        -webkit-flex-wrap: nowrap;

        flex-direction: column;
        flex-wrap: nowrap;
    }
    nav#page-bar {
        padding-right: 0px;
    }

    article .title {
        font-size: 28px;
        text-align: center;
    }

    hr.post-separator:first-child {
        display: inherit;
    }
}
